@import url('https://assets.lego.com/fonts/v1/cera-pro.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bb-color-primary: 238 95 160;
    --bb-color-secondary: 120 72 199;
    --bb-color-background: 152 115 212;
  }
}

@layer components {
  .bb-btn-primary {
    @apply bb-bg-primary bb-text-white bb-rounded bb-h-10;
  }
  .bb-btn-secondary {
    @apply bb-bg-secondary bb-text-white bb-rounded bb-h-10;
  }
}

@layer utilities {
  .bb-center {
    @apply bb-flex bb-items-center bb-justify-center;
  }

  .bb-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .bb-scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .bb-scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.bb-tips-bg {
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgb(var(--bb-color-background)),
    rgb(var(--bb-color-background))
  );
}
