@import url('https://use.typekit.net/ole3xcp.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'effra', sans-serif;
  @apply bb-text-base;
}

@layer base {
  input,
  button {
    @apply focus:bb-outline-none focus:bb-ring-1 focus:bb-ring-black bb-transition-colors bb-duration-300 bb-ease-in-out;
  }
  .bb-headline {
    @apply bb-text-lg bb-font-black lg:bb-text-xl;
  }
  .bb-btn:disabled {
    @apply bb-bg-white bb-text-black/20;
  }
}

@layer components {
  .bb-btn {
    @apply bb-bg-yellow bb-text-black bb-rounded-full bb-px-4 bb-py-2 bb-font-black bb-h-[50px] lg:bb-h-[60px] bb-center lg:bb-px-7 lg:bb-py-4 bb-text-base lg:bb-text-md lg:bb-leading-[1.375rem];
  }
}

@layer utilities {
  .bb-center {
    @apply bb-flex bb-items-center bb-justify-center;
  }

  .bb-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .bb-scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .bb-scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
.bb-tips-bg {
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(76, 47, 146), rgb(76, 47, 146));
}
